{% include 'base.html' %}

{% block content %}
<h2 class="text-center mt-4">Allgemein</h2>

<div class="d-flex flex-row justify-content-center  mt-4">
    <div class="card">
      <div class="card-header">
        <b>Veranstaltung</b>
        <div class="float-right ml-5">
            <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
            <a href="#" class="btn btn-danger btn-sm">Löschen</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            <b>Titel: </b>{{ veranstaltung.get_titel }} <br>
            <b>Von: </b> {{ von }} <br>
            <b>Bis: </b> {{ bis }} <br>
            {% if veranstaltung.has_ansprechpartner %}
            <b>Ansprechpartner: </b> {{ veranstaltung.get_ansprechpartner }}
            {% endif %}
        </p>
      </div>
    </div>

    <div class="card ml-2">
      <div class="card-header">
        <b>Adresse</b>
          <div class="float-right ml-5">
            <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
            <a href="#" class="btn btn-danger btn-sm">Löschen</a>
          </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            {% if adresse.has_name %}
            <b>Name: </b> {{ adresse.get_name }} <br>
            {% endif %}
            <b>Straße: </b> <a href="{{ adresse.get_google_maps_link_for_strasse }}">{{ adresse.get_strasse }}</a><br>
            <b>Ort: </b><a href="{{ adresse.get_google_maps_link_for_ort }}">{{ adresse.get_ort }}</a><br>
        </p>
      </div>
    </div>
</div>

    <h2 class="text-center mt-4">Einheiten</h2>

<div class="d-flex flex-row justify-content-center">
    <ul class="nav">
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-primary" href="#">+ EVT</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-secondary" href="#">+ KTW</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-success" href="#">+ RTW</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-danger" href="#">+ Sanitätszelt</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-warning" href="#">+ UGSanEL</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-info" href="#">+ Einsatzleitung</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-dark" href="#">+ SEG Verpflegung</a>
      </li>
    </ul>
</div>

<div class="d-flex flex-row justify-content-center mt-3">
    {% for evt in evts %}
    <div class="card border-primary ml-2 mt-2">
      <div class="card-header">
          <b>EVT - {{ evt.get_standort }}</b>
          <div class="float-right ml-5">
              <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
              <a href="#" class="btn btn-danger btn-sm">Löschen</a>
          </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            <b>Truppführer/in: </b> {{ evt.get_trupp_fuhrer }} <br>
            <b>Zweite/r Mann/Frau: </b> {{ evt.get_personal }} <br>

            {% if evt.has_praktikant %}
            <b>Praktikant: </b> {{ evt.get_praktikant }} <br>
            {% endif %}

            {% if evt.has_zusatzinformation %}
            <b>Zusatzinformation: </b> {{ evt.get_zusatzinformation }} <br>
            {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}