{% extends 'base.html' %}

{% block body %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for vehicle in vehicles %}
    <div class="card ml-2 mt-4 mb-2" style="width: 18rem;">
        {% load static %}
      <div class="card-body">
            <h5 class="card-title">
                {% if vehicle.has_name %}
                    {{ vehicle.get_name }}
                {% elif vehicle.has_radio_call_name %}
                    {{ vehicle.get_radio_call_name }}
                {% else %}
                    {{ vehicle.get_license_plate }}
                {% endif %}
            </h5>

        <p class="card-text">
            <b>Funkrufname: </b> {{ vehicle.get_radio_call_name }} <br>
            <b>Kennzeichen: </b> {{ vehicle.get_license_plate }} <br>
        </p>
      </div>
        <div class="card-footer d-flex justify-content-center">
        {% if vehicle.is_available %}
            <div class="badge badge-pill badge-success center">Verfügbar</div>
        {% else %}
            <div class="badge badge-pill badge-danger center">Nicht verfügbar</div>
        {% endif %}
        <div class="badge badge-pill badge-info center ml-1">{{ vehicle.get_type.get_short }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}