{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for fahrzeug in fahrzeuge %}
    <div class="card ml-2 mt-4 mb-2" style="width: 18rem;">
        {% load static %}
      <img class="card-img-top" src="{%  static fahrzeug.get_file_path %}" alt="Foto des Einsatzfahrzeuges">
      <div class="card-body">
          {% if fahrzeug.has_name %}
            <h5 class="card-title">{{ fahrzeug.get_name }}</h5>
          {% else %}
            <h5 class="card-title">{{ fahrzeug.get_funkrufname }}</h5>
          {% endif %}

        <p class="card-text">
            <b>Funkrufname: </b> {{ fahrzeug.get_funkrufname }} <br>
            <b>Kennzeichen: </b> {{ fahrzeug.get_kennzeichen }} <br>
        </p>
      </div>
        <div class="card-footer d-flex justify-content-center">
        {% if fahrzeug.is_verfuegbar %}
            <div class="badge badge-pill badge-success center">Verfügbar</div>
        {% else %}
            <div class="badge badge-pill badge-danger center">Nicht verfügbar</div>
        {% endif %}
        <div class="badge badge-pill badge-info center ml-1">{{ fahrzeug.get_typ }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}