{% include 'base.html' %}

{% block body %}
<h2 class="text-center mt-4">Allgemein</h2>

<div class="d-flex flex-row justify-content-center  mt-4">
    <div class="card">
      <div class="card-header">
        <b>Veranstaltung</b>
        <div class="float-right ml-5">
            <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
            <a href="#" class="btn btn-danger btn-sm">Löschen</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            <b>Titel: </b>{{ event.get_title }} <br>
            <b>Von: </b> {{ event.get_from_date_time }} <br>
            <b>Bis: </b> {{ event.get_to_date_time }} <br>
            {% if veranstaltung.has_ansprechpartner %}
            <b>Ansprechpartner: </b> {{ event.get_contact_person }}
            {% endif %}
        </p>
      </div>
    </div>

    <div class="card ml-2">
      <div class="card-header">
        <b>Adresse</b>
          <div class="float-right ml-5">
            <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
            <a href="#" class="btn btn-danger btn-sm">Löschen</a>
          </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            {% if address.has_name %}
            <b>Name: </b> {{ address.get_name }} <br>
            {% endif %}
            <b>Straße: </b> <a href="{{ address.get_google_maps_link_for_street }}">{{ address.get_street }} {{ address.get_street_number }}</a><br>
            <b>Ort: </b><a href="{{ address.get_google_maps_link_for_city }}">{{ address.get_city }}</a><br>
        </p>
      </div>
    </div>
</div>

    <h2 class="text-center mt-4">Einheiten</h2>

<div class="d-flex flex-row justify-content-center">
    <ul class="nav">
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-primary" href="#">+ EVT</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-secondary" href="#">+ KTW</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-success" href="#">+ RTW</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-danger" href="#">+ Sanitätszelt</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-warning" href="#">+ UGSanEL</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-info" href="#">+ Einsatzleitung</a>
      </li>
      <li class="nav-item ml-2 mt-2">
        <a class="btn btn-outline-dark" href="#">+ SEG Verpflegung</a>
      </li>
    </ul>
</div>

<div class="d-flex flex-row justify-content-center mt-3">
    {% for evt in evts %}
    <div class="card border-primary ml-2 mt-2">
      <div class="card-header">
          <b>EVT - {{ evt.get_location }}</b>
          <div class="float-right ml-5">
              <a href="#" class="btn btn-warning btn-sm">Bearbeiten</a>
              <a href="#" class="btn btn-danger btn-sm">Löschen</a>
          </div>
      </div>
      <div class="card-body">
        <p class="card-text">
            <b>Truppführer/in: </b> {{ evt.get_leader }} <br>
            <b>Zweite/r Mann/Frau: </b> {{ evt.get_second }} <br>

            {% if evt.has_trainee %}
            <b>Praktikant: </b> {{ evt.get_trainee }} <br>
            {% endif %}

            {% if evt.has_additional_information %}
            <b>Zusatzinformation: </b> {{ evt.get_additional_information }} <br>
            {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}